@page "/product/{Id:int}"
@inject IProductService ProductService
@inject ILocalStorageService LocalStorageService
@inject IToastService ToastService
@inject ICartService CartService

<div class="views">
    <i class="oi oi-eye"></i> @_product.Views.ToString("0##")
</div>
<div class="media">
    <div class="media-img-big-wrapper mr-2">
        <img class="media-img-big" src="@_product.Image" alt="@_product.Title" />
    </div>
    <div class="media-body">
        <h2 class="mb-0">@_product.Title</h2>
        <p>@_product.Description</p>
        @if (_product.Variants != null && _product.Variants.Count > 0)
        {
            <div class="form-group">
                <select class="form-control" @bind="_currentEditionId">
                    @foreach (var variant in _product.Variants)
                    {
                        <option value="@variant.EditionId">@variant.Edition.Name</option>
                    }
                </select>
            </div>
        }
        @if (GetSelectedVariant() != null)
        {
            @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
            {
                <h6 class="text-muted original-price">$@GetSelectedVariant().OriginalPrice</h6>
            }
            <h4 class="price">
                $@GetSelectedVariant().Price
            </h4>
        }
        <button class="btn btn-primary" @onclick="AddToCart"><i class="oi oi-cart"></i>&nbsp; Add to Cart</button>
    </div>
</div>

@code {
    private Product _product = new Product();
    private int _currentEditionId = 1;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _product = await ProductService.GetProduct(Id);

        if (_product.Variants.Any())
        {
            _currentEditionId = _product.Variants.First().EditionId;
        }
    }

    private ProductVariant GetSelectedVariant()
    {
        return _product.Variants.FirstOrDefault(v => v.EditionId == _currentEditionId);
    }

    private async Task AddToCart()
    {
        await CartService.AddToCart(GetSelectedVariant());
    }
}
