@page "/cart"
@inject ICartService CartService

<h3>Shopping Cart</h3>

@if (_cartItems == null || _cartItems.Count <= 0)
{
    <span>You have no items in your cart.</span>
}
else
{
    <div>
        @foreach (var item in _cartItems)
        {
            <div class="item-continer">
                <div class="item-image-wrapper"><img src="@item.Image" class="item-image"></div>
                <div class="item-name">
                    <h5><a href="/product/@item.ProductId">@item.ProductTitle</a></h5>
                    <span>@item.EditionName</span>
                    <button class="btn btn-danger" @onclick="@(() => DeleteItem(item))">Remove</button>
                </div>
                <div class="item-price">$@item.Price</div>
            </div>
        }
        <div class="item-price">
            Total (@_cartItems.Count): $@_cartItems.Sum(item => item.Price)
        </div>
    </div>
}

@code {
    private List<CartItem> _cartItems = new List<CartItem>();

    protected override async Task OnInitializedAsync()
    {
        _cartItems = await CartService.GetCartItems();
    }

    private async Task DeleteItem(CartItem item)
    {
        await CartService.DeleteItem(item);
        _cartItems = await CartService.GetCartItems();
    }
}
