@page "/cart"
@attribute [Authorize(Roles = "Administrator,User")]
@inject ICartService CartService

@if (_orderPlaced)
{
    <div class="card shadow">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <h4>Thank you for your order!</h4>
                <h5>This is what you ordered:</h5>
                <hr>
                @foreach (var item in _cartItems)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-1">
                                <img src="@item.Image" class="img-fluid zoom-hover">
                            </div>
                            <div class="col-lg-11">
                                <h3><a href="/product/@item.ProductId">@item.ProductTitle</a></h3>
                                <p>@item.EditionName</p>
                                <h4 class="text-end">$@(item.Price * item.Quantity)</h4>
                            </div>
                        </div>
                    </li>
                }
                <h4 class="text-end mt-2">
                    Sub-Total (@_cartItems.Count): $@_cartItems.Sum(item => item.Price * item.Quantity) &nbsp;
                </h4>
            </ul>
        </div>
    </div>
}
else
{    
    <div class="card shadow">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <h3>Shopping Cart</h3>
                <span class="text-end mt-2">
                    Price &nbsp;
                </span>
                <hr>
                @if (_cartItems == null || _cartItems.Count <= 0)
                {
                    <span>You have no items in your cart.</span>
                }
                else
                {
                    @foreach (var item in _cartItems)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-1">
                                    <img src="@item.Image" class="img-fluid zoom-hover">
                                </div>
                                <div class="col-lg-11">
                                    <h3><a href="/product/@item.ProductId">@item.ProductTitle</a></h3>
                                    <p>@item.EditionName</p>
                                    <a style="cursor: pointer; color: red" @onclick="@(() => DeleteItem(item))">Remove</a>
                                    <EditForm Model="item">
                                        <InputNumber id="quantity" @bind-Value="item.Quantity" class="form-control" style="width: 70px;" />
                                    </EditForm>
                                    <h4 class="text-end">$@(item.Price * item.Quantity)</h4>
                                </div>
                            </div>
                        </li>
                    }
                    <h4 class="text-end mt-2">
                        Total (@_cartItems.Count): $@_cartItems.Sum(item => item.Price * item.Quantity) &nbsp;
                    </h4>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg" @onclick="PlaceOrder">Place Order</button>
                    </div>
                }
            </ul>
        </div>
    </div>
}

@code {
    private List<CartItem> _cartItems = new List<CartItem>();
    private bool _orderPlaced = false;

    protected override async Task OnInitializedAsync()
    {
        _cartItems = await CartService.GetCartItems();
    }

    private async Task DeleteItem(CartItem item)
    {
        await CartService.DeleteItem(item);
        _cartItems = await CartService.GetCartItems();
    }

    private async Task PlaceOrder()
    {
        _orderPlaced = true;
        await CartService.EmptyCart();
    }
}
